* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Kanit", sans-serif;
}

.nav {
  background-color: #f4f7fb;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.nav ul li {
  padding: 1em;
  cursor: pointer;
}
.nav ul li a {
  color: #000;
  padding: 1em;
}
.nav ul li a:hover {
  background-color: #eea539;
  color: #fff;
}

.hero__container {
  gap: 5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.hero__container h1 {
  font-size: 5rem;
}
.hero__left--orange {
  color: #eea539;
}
.hero__left__search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding-left: 2em;
  border-radius: 6px;
  border: 2px solid #f4f7fb;
}
.hero__left__search i {
  width: 5%;
}
.hero__left__search form {
  width: 100%;
}
.hero__left__search form input {
  padding: 2em;
  outline: none;
  border: none;
  width: 80%;
}
.hero__left__search form button {
  padding: 2em 0;
  width: 18%;
}
.hero__left, .hero__right {
  flex: 1;
}