@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;
.hero {
  &__container {
    gap: 5em;
    @include flex(space-between, flex-start);
    h1 {
      font-size: 5rem;
    }
  }
  button{
    
    
    background-color: $orange;
    color: $white;
    border-radius: 5px;
    padding: 1em 3em;
    display: block;
    margin: 0 auto;
    border: none;
    cursor:pointer;
   }
  &__left {
    &--orange {
      color: $orange;
      padding: 2em;

      
    }
    &__stats {
      @include flex(space-between,center);
      padding: 6em;
      &--grey{
        background-color:$light-grey;
        padding: 2em;
        margin: 2em 0;
        div{
          background-color: $black;
          padding: 2em  ;
          border-radius:50%};
          P{
            font-weight: bold;

          }
      }
      
      
    }
   
    &__search {
      @include flex(flex-start, center);
      padding-left: 2em;
      border-radius:5px;
      border: 2px solid $light-grey;
      i {
        width: 5%;
      }
      form {
        width: 100%;
        input {
          padding: 2em;
          outline: none;
          border: none;
          width: 80%;
        }
        button {
          padding: 2em 0;
          width: 18%;
          background-color: $black;
          color: $white;
          text-align: center;
        }
      }
    }
  }
  &__left,&__right {
    flex: 1;
  }
}

